<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Jugadores</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class="container">
    <h1>Lista de Jugadores</h1>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Posición</th>
            <th>Dorsal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jugador : ${jugadores}">
            <td th:text="${jugador.nombre}"></td>
            <td th:text="${jugador.posicion}"></td>
            <td th:text="${jugador.dorsal}"></td>
            <td><a th:href="${'/verjugador?id='+jugador.id}">Detalles</a></td>
        </tr>
        </tbody>
    </table>
    <div class="button-container">
        <a href="/" class="button">Volver a la página de inicio</a>
    </div>
</div>
</body>
</html>
